@use '@/assets/scss/tools/mixins.scss' as *;

.flex {
  display: flex;
}

[class*='flex-'] {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-center-center {
  align-items: center;
  justify-content: center;
}

.flex-bottom {
  align-items: flex-end;
}

.flex-vertical-center {
  align-items: center;
}

.flex-horizontal-center {
  justify-content: center;
}

.flex-vertical-direction {
  flex-direction: column;
}

.reset-ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.row-ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
// display
.display-block {
  display: block;
}
// text alignment
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.last-text-align-right {
  > div:last-of-type,
  > li:last-of-type {
    text-align: right;
  }
}

// responsve
.mobile-only {
  display: none;
}

// other
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.hide-on-desktop {
  display: none;
}
// overflow
.overflow-hidden {
  overflow: hidden;
}
@include viewport-medium {
  .text-right--reset-md {
    text-align: left;
  }
  .reset-flex-end-md {
    justify-content: left;
  }
}

@include viewport-small {
  .hide-on-mobile {
    display: none;
  }
  .hide-on-desktop {
    display: block;
  }
  .mobile-only {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .reset-align-xs {
    > div:last-of-type,
    > li:last-of-type {
      text-align: left;
    }
  }
}
