.app-init-effect {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  &__text-wrap {
    opacity: 0;
    visibility: hidden;
  }
  &__text {
    font-size: 6rem;
    letter-spacing: 0.35rem;
    position: relative;
    left: -1rem;
  }
  &__text--small-cta {
    position: relative;
    top: 1.9rem;
    left: 2rem;
    letter-spacing: 0.3rem;
    font-size: 1.6rem;
    display: block;
    color: var(--color-cta);
  }
}
@include viewport-small {
  .app-init-effect {
    &__text {
      font-size: 3.5rem;
      letter-spacing: 0.2rem;
      left: -1rem;
    }
    &__text--small-cta {
      top: 1.1rem;
      left: 1.5rem;
      letter-spacing: 0.25rem;
      font-size: 1.1rem;
    }
  }
}
