// default theme
:root {
  --color-primary: #{$color-black};
  --color-secondary: #{$color-white};
  --color-cta: #{$color-cta};
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

body {
  @include font-main;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 1.6rem;
  margin: 0;
}

main {
  margin-top: $header-height;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
