$columns: 12;

.grid-w {
  @include grid-wrap;
}
//////// grid row
.grid-r {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: clamp(1.5rem, 1.8vw, 4rem);
}
[class^="grid-c"] {
  grid-column-end: span $columns;
  //   border: 1px solid red;
}

@for $i from 1 through $columns {
  .grid-c-#{$i} {
    grid-column-end: span $i;
  }
}

@each $size, $abbr in ($viewport-extra-large, lg), ($viewport-large, md),
  ($viewport-medium, sm), ($viewport-small, xs)
{
  @media (max-width: $size) {
    // Loop through col classes
    @for $i from 1 through $columns {
      .grid-c-#{$abbr}-#{$i} {
        grid-column-end: span $i;
      }
    }
  }
}
//////// helpers
.grid-revert {
  grid-column-start: 1;
  grid-row-start: 1;
}
//////// offsets
.grid-c-10-offset-1 {
  grid-column: -10 / span 10;
}
.grid-c-6-offset-3 {
  grid-column: -10 / span 6;
}
@include viewport-extra-large {
  .grid-c-8-offset-2-xl {
    grid-column: -11 / span 8;
  }
}
@include viewport-large {
  .grid-c-6-offset-3-l {
    grid-column: -10 / span 6;
  }
}
@include viewport-medium {
  .grid-remove-offset-md {
    grid-column: span $columns;
  }
  .grid-revert--reset-md {
    grid-row-start: inital;
  }
}
@include viewport-small {
  //////// offsets
  .grid-remove-offset-sm {
    grid-column: span $columns;
  }
}
