h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 400;
}
h1,
.h1 {
  @include font-main;
  font-size: clamp(6rem, 12vw, 17.3rem);
  margin-top: 0;
  margin-bottom: clamp(2rem, 2vw, 3rem);
}
.h1.xl,
h1.xl {
  font-size: clamp(15rem, 21vw, 30rem);
}
h2,
.h2 {
  font-size: clamp(4rem, 5vw, 7rem);
  margin-top: 0;
  margin-bottom: clamp(2rem, 2vw, 3rem);
}
h3,
.h3 {
  font-size: clamp(2.6rem, 2.8vw, 4rem);
  margin-top: 0;
  margin-bottom: clamp(1rem, 1.5vw, 2rem);
}
p {
  font-size: clamp(1.4rem, 1.1vw, 1.6rem);
  line-height: clamp(1.9rem, 1.9vw, 2.7rem);
}
b,
strong,
.font-bold {
  font-weight: 700;
}
a {
  @include font-main-bold;
  color: $color-cta;
  text-decoration: none;
}
