$icon-size: clamp(6rem, 5vw, 12rem);
$icon-play-size: clamp(2rem, 2vw, 3rem);

.video {
  a {
    display: block;
    margin-top: -3rem;
  }

  &__item {
    margin-top: 3rem;
    position: relative;
  }
  // overlay
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: var(--color-primary);
    z-index: 1;
    transition: $transition;
  }
  // icon
  &__icon {
    cursor: pointer;
    @include position-center;
    background-color: var(--color-cta);
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    z-index: 2;
    transition: opacity $transition, transform $transition;
  }
  &__icon svg {
    width: $icon-play-size;
    height: $icon-play-size;
    margin-left: 0.5rem;
    fill: var(--color-secondary);
  }
}

// video is playing
.video__item.is-playing {
  .video__overlay {
    visibility: hidden;
    opacity: 0;
  }
  .video__icon {
    opacity: 0;
    transform: scale(0) translateX(-50%) translateY(-50%);
  }
}
