$color-black: #111314;
$color-white: #e9f1f7;
// $color-cta: #f3abab;
// $color-cta: #fe4248;
$color-cta: #ffb2b2;
$color-alternative: #0f0f0f;

// layout
$header-height: clamp(4rem, 6vw, 5rem);
$cv-list-item-spacing: 1.6rem;
// transitions
$transition--cubic: cubic-bezier(0.32, 0.94, 0.6, 1);
$transition: 0.5s $transition--cubic;
$transition--slow: 0.7s $transition--cubic;
$transition--fast: 0.4s $transition--cubic;

//------- Media queries -------//
$viewport-extra-small: 350px; // 350px
$viewport-small: 576px; // 576px
$viewport-medium: 992px; // 992px
$viewport-large: 1025px; // 1025px
$viewport-extra-large: 1440px; // 1200px
$viewport-max: 1920px; // 1920px

// layout - grid
$grid-max-width: 1680px;
$grid-max-content-width: 1615px;
$grid-min-width: 370px;
