.stats {
  &__icon {
    margin: 2rem 0;
  }
  // overall
  &__title {
    color: var(--color-cta);
    display: block;
    font-size: 1.4rem;
  }
  &__title--small {
    font-size: 1.2rem;
  }
  // main items
  &__item {
    padding: clamp(1.8rem, 1.8vw, 2.5rem) clamp(1.5rem, 1.4vw, 2rem);
    margin-bottom: clamp(1.7rem, 1.8vw, 2.5rem);
    box-shadow: 0px 0px 22px 16px rgba(0, 0, 0, 0.25);
    border-radius: clamp(1.6rem, 1.2vw, 2.1rem);
  }
  &__item-value {
    font-weight: 700;
    font-size: clamp(2rem, 3vw, 4.5rem);
  }
  // list
  &__list {
    margin-left: 2rem;
  }
  &__list-value {
    font-size: 1.2rem;
  }

  ::v-deep(.nuxt-icon svg) {
    width: clamp(12rem, 20vw, 50rem);
    height: auto;
  }
}
