@mixin placeholder {
  color: var(--color-secondary);
  @include font-main;
  font-size: clamp(1.1rem, 1vw, 1.3rem);
}

.contact-form {
  margin-bottom: clamp(4rem, 7vw, 10rem);
  // Hide honeypot field from users (but not from bots)
  .hidden {
    position: absolute;
    left: -9999px;
  }
  input,
  textarea,
  form {
    width: 100%;
  }
  input,
  textarea {
    padding: clamp(0.6rem, 1.5vw, 1.2rem) 0;
    color: var(--color-secondary);
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-secondary);
    &::-webkit-input-placeholder {
      @include placeholder;
    }
    &::-moz-placeholder {
      @include placeholder;
    }
    &:-ms-input-placeholder {
      @include placeholder;
    }
    &:-moz-placeholder {
      @include placeholder;
    }
  }
}
