.header-devices {
  --box-s: 0px 0px 8px 6px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  &__logo {
    font-weight: 700;
    color: var(--color-secondary);
    font-size: 1.4rem;
    display: block;
  }

  &__menu {
    position: absolute;
    top: 4.2rem;
    right: 0;
    width: 10rem;
    box-shadow: var(--box-s);
    border-radius: 1.6rem;
    padding: 1rem 2rem;
    text-align: right;
    overflow: hidden;
    z-index: 3;
    will-change: transform, opacity;
  }
  &__menu ul {
    position: relative;
    z-index: 1;
  }

  &__menu-item {
    display: block;
    padding: 0.6rem 0;
    font-size: 1.4rem;
    color: var(--color-secondary);
    // active link
    &.router-link-exact-active {
      font-weight: 600;
      color: var(--color-cta);
    }
  }
  // menu toggle button
  &__menu-toggle {
    box-shadow: var(--box-s);
    background: transparent;
    border-radius: 0.8rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.3rem;
    color: var(--color-secondary);
    font-weight: 600;
    position: relative;
    overflow: hidden;
  }
}
