.header__menu-icon {
  display: block;
  border-radius: 1.5rem;
  border: 1px solid rgba($color-white, 0.3);
  padding: 0.4rem 1rem;
  cursor: pointer;
  position: relative;
  z-index: 5;
  overflow: hidden;
  background-color: var(--color-primary);

  button {
    color: var(--color-secondary);
    background-color: transparent;
    @include font-main;
    display: block;
    font-weight: 500;
    font-size: clamp(1.2rem, 1vw, 1.4rem);
    border: none;
    outline: none;
    line-height: 1;
    will-change: transform;
  }
}

// menu

.optimized-menu {
  visibility: hidden;
  // will-change: transform;
  &.header__menu {
    top: clamp(4rem, 5vw, 6rem);
    right: 2rem;
  }
  li {
    overflow: hidden;
  }
  &.header__menu:after {
    content: "";
    position: absolute;
    top: -0.4rem;
    right: -2.5rem;
    bottom: -1.5rem;
    left: -0.9rem;
    background-color: var(--color-primary);
    box-shadow: 0px 0px 22px 16px rgba(0, 0, 0, 0.25);
    border-radius: clamp(1.6rem, 1.2vw, 2.1rem);
    z-index: -1;
  }
  .header__menu-item {
    text-align: right;
  }
  .header__menu-item-inner {
    width: 100%;
    left: 0;
  }
}
