.header {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  height: $header-height;
  z-index: 10;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.15);
  border-radius: 1.6rem;
  .grid-w {
    width: 50rem;
  }
  &__logo {
    font-weight: 700;
    color: var(--color-secondary);
    font-size: clamp(1.2rem, 1vw, 1.4rem);
    display: block;
    margin: 1.15rem 2rem;
  }
  &__menu {
    margin-top: clamp(0.2rem, 0.2vw, 0.3rem);
  }
  &__menu li {
    display: inline-block;
  }

  &__menu-item {
    display: block;
    padding: 0.6rem 0;
    height: 1.8rem;
    white-space: nowrap;

    // active link
    &.router-link-exact-active .header__menu-item-inner span {
      font-weight: 600;
      color: var(--color-cta);
    }
    &.is-medium-string .header__menu-item-inner span {
      transition:
        transform 0.4s $transition--cubic,
        font-weight $transition--slow,
        opacity $transition--slow;
    }
  }
  &__menu-item-inner {
    overflow: hidden;
    position: absolute;
  }
  &__menu-item-inner span {
    color: var(--color-secondary);
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-block;
    transition:
      transform 0.48s $transition--cubic,
      font-weight $transition--slow,
      opacity $transition--slow;
    will-change: transform, font-weight;
  }
}

// hover effect
@include viewport-mouse {
  .header__menu-item-inner:first-child,
  .header__menu-item-inner:last-child {
    @for $i from 1 through 10 {
      span:nth-child(#{$i}n) {
        transition-delay: #{$i * 0.035}s;
      }
    }
  }
  .header__menu-item.is-medium-string .header__menu-item-inner {
    @for $i from 1 through 10 {
      span:nth-child(#{$i}n) {
        transition-delay: #{$i * 0.023}s;
      }
    }
  }

  // first menu items
  .header__menu-item-inner:first-child {
    span {
      opacity: 0;
      transform: translateY(-105%);
    }
  }
  // second menu item
  .header__menu-item-inner:last-child {
    span {
      transform: translateY(0);
    }
  }
  // HOVER
  .header__menu-item:hover {
    .header__menu-item-inner:first-child {
      span {
        opacity: 1;
        transform: translateY(0);
        font-weight: 700;
      }
    }
    .header__menu-item-inner:last-child {
      span {
        opacity: 0;
        transform: translateY(100%);
        transition:
          transform 0.22s $transition--cubic,
          font-weight $transition--slow,
          opacity $transition--slow;
      }
    }
    .header__menu-item.is-medium-string .header__menu-item-inner:last-child {
      span {
        transition:
          transform 0.12s $transition--cubic,
          font-weight $transition--slow,
          opacity $transition--slow;
      }
    }
  }
}
