.hero-large {
  height: calc(100vh - $header-height);
  position: relative;

  &__title-w {
    @include position-center-y;
    top: 42%;
    z-index: 3;
  }
  // image slider
  &__media,
  &__media-backdrop {
    position: absolute;
    top: clamp(-8rem, -6vw, -4rem);
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  &__media-backdrop {
    background-color: $color-black;
    opacity: 0;
    z-index: 1;

    @for $i from 0 through 10 {
      &.opacity-#{$i} {
        opacity: #{$i * 100 / 1000};
      }
    }
  }
  // each image
  &__media-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity $transition--slow;
    .image {
      height: 100vh;
      width: 100%;
    }
  }
}
