.circular-effect {
  @include position-center-x;
  bottom: 1rem;
  z-index: 5;
  width: 220px;
  height: 220px;
  svg path {
    will-change: transform;
  }
  .svg-arrow {
    fill: var(--color-cta);
    @include position-center;
    transition: transform $transition;
  }
  &:hover {
    .svg-arrow {
      transform: translateX(-50%) translateY(-50%) scale(1.2);
    }
  }
}
text {
  @include font-main-bold;
  font-size: 1.2rem;
  letter-spacing: 0.18rem;
  fill: var(--color-secondary);
  transition: fill $transition;
}
