.footer {
  background-color: var(--color-alternative);
  padding-top: clamp(4.5rem, 7vw, 11rem);
  padding-bottom: clamp(2rem, 3vw, 4rem);

  ul li {
    display: inline-block;
    vertical-align: top;
  }
  a,
  address {
    font-size: 1.3rem;
    color: var(--color-secondary);
    @include font-main;
    display: block;
  }
  &__info li {
    margin-right: clamp(2rem, 4vw, 6rem);
  }
  &__social {
    a {
      display: block;
      margin-left: clamp(1rem, 1vw, 2rem);
      font-size: 1rem;
      font-size: 1.2rem;
    }
  }
}
@include viewport-small {
  .footer {
    &__social {
      a {
        margin-top: 1rem;
      }
    }
  }
}
