@use '@/assets/scss/settings/vars.scss' as *;
@use '@/assets/scss/tools/mixins.scss' as *;
// default theme
:root {
  --color-primary: #{$color-black};
  --color-secondary: #{$color-white};
  --color-cta: #{$color-cta};
  --color-alternative: #{$color-alternative};
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  @include font-main;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 1.6rem;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

@include viewport-large {
  body {
    overflow: initial;
  }
}
