@use '@/assets/scss/tools/mixins.scss' as *;

//////// helpers
.grid-revert {
  grid-column-start: 1;
  grid-row-start: 1;
}
//////// offsets
.grid-c-10-offset-1 {
  grid-column: -10 / span 10;
}
.grid-c-8-offset-2 {
  grid-column: -11 / span 8;
}
.grid-c-6-offset-3 {
  grid-column: -10 / span 6;
}
@include viewport-extra-large {
  .grid-c-8-offset-2-xl {
    grid-column: -11 / span 8;
  }
}
@include viewport-large {
  .grid-c-6-offset-3-l {
    grid-column: -10 / span 6;
  }
}
@include viewport-medium {
  .grid-remove-offset-md {
    grid-column: span 12;
  }
  .grid-revert--reset-md {
    grid-row-start: inital;
  }
}
@include viewport-small {
  //////// offsets
  .grid-remove-offset-sm {
    grid-column: span 12;
  }
}
