@use '@/assets/scss/settings/vars.scss' as *;
@use '@/assets/scss/tools/mixins.scss' as *;

// Prevent native scrollbar from ever appearing
html, body {
  overflow: hidden;
  height: 100%;
}

.smooth-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding-top: $header-height;
  height: calc(100vh - $header-height);
  will-change: transform;
}
.scroll-content {
  will-change: transform;
}
@include viewport-large {
  html, body {
    overflow: auto; // Re-enable scrolling on mobile devices
  }

  .smooth-container {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    overflow: visible; // Allow content to scroll normally on mobile
    padding-top: 0;
    height: auto;
  }
}
