@use '@/assets/scss/settings/vars.scss' as *;
@use '@/assets/scss/tools/mixins.scss' as *;
.smooth-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-top: $header-height;
  height: calc(100vh - $header-height);
  will-change: transform;
}
.scroll-content {
  will-change: transform;
}
@include viewport-large {
  .smooth-container {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    overflow: auto;
    padding-top: 0;
    height: auto;
  }
}
