h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 400;
}
h1,
.h1 {
  @include font-main;
  font-size: clamp(6rem, 12vw, 17.3rem);
  margin-top: 0;
  margin-bottom: clamp(2rem, 2vw, 3rem);
}
.xl .h1,
.xl h1 {
  font-size: clamp(10rem, 21vw, 22rem);
  margin-bottom: 0;
  display: inline-block;
}
h2,
.h2 {
  font-size: clamp(4rem, 5vw, 7rem);
  margin-top: 0;
  margin-bottom: clamp(2rem, 4vw, 5rem);
}
h3,
.h3 {
  font-size: clamp(2.4rem, 2.8vw, 4rem);
  margin-top: 0;
  margin-bottom: clamp(1rem, 1.5vw, 1.5rem);
}
p {
  font-size: clamp(1.4rem, 1.1vw, 1.6rem);
  line-height: clamp(2.25rem, 2.2vw, 3rem);
}
b,
strong,
.font-bold {
  font-weight: 700;
}
a,
.btn {
  @include font-main-bold;
  color: $color-cta;
  text-decoration: none;
}
.btn {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
