[data-split-line-effect],
[data-split-line-effect-bodytext] {
  .child {
    will-change: transform, opacity;
  }
}

[data-inview-simple-show-effect] {
  will-change: transform, opacity, visibility;
}
[data-split-line-effect],
[data-inview-simple-show-effect] {
  visibility: hidden;
}

[data-split-line-effect-bodytext] {
  p {
    visibility: hidden;
  }
}

[data-load-split-char-effect] {
  visibility: hidden;
  > div {
    will-change: font-weight, opacity, transform;
  }
}
