[data-aaaaand-action] {
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: var(--color-secondary);
  visibility: hidden;
  will-change: background-color, transform, opacity;
}
