.grid-gallery {
  a {
    display: block;
    margin-top: -1.5rem;
  }
}

.grid-slider {
  margin-top: clamp(5rem, 5vw, 12rem);
  overflow: hidden;
  width: 100vw;
  &__wrap {
    height: clamp(35rem, 41vw, 55rem);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 20rem;
  }
  // items
  &__item-wrap {
    min-width: 40vw;
    margin-right: clamp(1rem, 2vw, 5rem);
  }
  &__item-wrap:last-child {
    margin-right: 0;
  }
  &__item-wrap:nth-child(4n + 3) {
    transform: translateY(clamp(10rem, 15vw, 20rem));
  }
  &__item-wrap:nth-child(4n + 1) {
    transform: translateY(clamp(10rem, 15vw, 10rem));
  }
}
