$accordion-toggle-icon-size: 1rem;

.accordion-nested-item {
  position: relative;
  padding: $cv-list-item-spacing 0;
  padding-right: 5rem;
  &.has-additional-content {
    cursor: pointer;
    row-gap: 0;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--color-secondary);
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.8s $transition--cubic,
      opacity 0.5s $transition--cubic;
  }
  &__item {
    font-size: 1.4rem;
    transition: color $transition--fast, font-weight $transition--fast;
  }
  &__item-headline {
    font-size: 1.2rem;
    @include font-main-bold;
    margin-bottom: 0.2rem;
  }
  // icon
  &__icon {
    position: absolute;
    right: 0;
    top: 1.6rem;
    transform: rotate(45deg);
    transition: transform $transition--fast;
    svg {
      height: $accordion-toggle-icon-size;
      width: $accordion-toggle-icon-size;
      transition: transform $transition--fast;
    }
    polygon {
      fill: var(--color-secondary);
      transition: fill $transition--fast;
    }
  }
  &__content {
    height: 0;
    overflow: hidden;
  }
  // overwrite bodytext
  .bodytext {
    margin: 3rem 0;
    p {
      font-size: 1.2rem;
    }
  }
}

.accordion-item.is-in-view {
  ul {
    @for $i from 1 through 15 {
      li:nth-child(#{$i}) {
        .accordion-nested-item:after {
          transform: translateX(0);
          opacity: 1;
          transition-delay: $i * 0.08s;
        }
      }
    }
  }
}

// hover and active
.accordion-nested-item.has-additional-content.is-active,
.accordion-nested-item.has-additional-content:hover {
  .accordion-nested-item__item {
    @include font-main-bold;
    color: var(--color-cta);
  }
  .accordion-nested-item__icon polygon {
    fill: var(--color-cta);
  }
}
// active
.accordion-nested-item.has-additional-content.is-active {
  .accordion-nested-item__icon svg {
    transform: rotate(-45deg);
  }
}

@include viewport-medium {
  .accordion-nested-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &.has-additional-content {
      row-gap: clamp(1.5rem, 1.8vw, 4rem);
    }
  }
}
@include viewport-small {
  .accordion-nested-item {
    &__item {
      font-size: 1.3rem;
      color: var(--color-cta);
    }
  }
}
